<form action="{{ path("project.add-task") }}" method="post" class="form">
    <input type="text" name="whelmed-task" class="add-task-to-project" placeholder="Add task">
    <input type="hidden" name="whelmed-project-uuid" value="{{ uuid }}">
</form>
