<h4>{{ project.title }}</h4>

<table class="table">
    <tr>
        <th>UUID</th>
        <td>{{ project.uuid }}</td>
    </tr>
    <tr>
        <th>Tasks</th>
        <td>
            <ul class="list-unstyled">
                {% for task in project.taskList.tasks %}
                    {% include 'atom/task-list-entry.html.twig' with { task : task, showProject : false } only %}
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>

