<ul class="list-unstyled list-inline task-action-bar">
    <li>
        <a href="{{ path('task.complete', { uuid : task.uuid}) }}">
            <i class="mdi mdi-check-bold"></i>
        </a>
    </li>
</ul>
