<form class="form-inline ml-auto" action="{{ path('task.quick-add') }}" class="form" method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="mdi mdi-plus-circle"></i></div>
        </div>
        <input type="text" class="form-control-lg form-control" placeholder="Quick add" name="whelmed-task-quick-add">
    </div>
</form>
