<form action="">
    <h5>Add task</h5>
    <div class="form-group">
        <input type="text" class="title" name="task_title" class="form-control form-control-lg">
    </div>
</form>

<div class="task-list-react" data-url="/api/v1/tasks/all"></div>

{% if taskList.getTasks|length %}
    <ul class="task-list list-unstyled">
        {% for task in taskList.getTasks %}
            {% include 'atom/task-list-entry.html.twig' with { task : task, showProject : true } only %}
        {% endfor %}
    </ul>
    <p class="text-muted">{{ taskList.getIncomplete|length }} tasks open, {{ taskList.getCompleted|length }} done
        ({{ taskList.getTasks|length }} total).</p>
{% else %}
    <p class="lead text-center mt-5">No tasks in this list.<br>¯\_(ツ)_/¯</p>
{% endif %}

