<form class="form-inline ml-auto" action="{{ path('task.quick-add') }}" class="form" method="post">
    <div class="form-group">
        <input type="text" class="form-control-lg form-control" autofocus placeholder="Quick add" name="whelmed-task-quick-add">
    </div>
</form>
