<a href="{{ path('project.view', { uuid : project.uuid }) }}" class="project-link {% if class is defined %}{{ class }}{% endif %}">
    {% include 'atom/project/icon.html.twig' with { icon : project.icon } %}
    {{ project.title }}

    {% if not showTaskCount is defined or showTaskCount %}
        <span class="badge badge-pill badge-light">{{ project.tasks|length }}</span>
    {% endif %}
</a>
