@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "~@mdi/font/css/materialdesignicons";
@import "~jquery-modal";
@import "~js-datepicker";
@import "task";
@import "typography";
@import "project";
@import "nav";

body, html {
  height: 100%;
}

body.login {
  background-repeat: no-repeat;
  background-size: cover;

  main {
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
  }

  .col-4 {
    background: rgba(255,255,255,.6);
  }

  form {
    width: 100%;
    text-align: center;

    h1,.btn {
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    }

    .btn {
      color: #fff;
      width: 100%;
    }
  }
}
