@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "~@mdi/font/css/materialdesignicons";
@import "task";
@import "typography";
@import "project";
@import "nav";


body, html {
  height: 100%;
}
