.project-list {
  hr {
    width: 90%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  }
  &.button-nav {
    background-color: $less-dark;
  }
}

.avatar {
  width: 3rem;
  margin-left: $spacer;
  border-radius: 10rem;
}

header .logo {
  width: 3rem;
}

header .icon {
  font-size: $font-size-lg;
  margin-right: $spacer;

  color: $primary-muted;

  &:hover {
    color: $highlight;
  }
}

.button-nav {
  padding: 0;
  background-color: $dark;

  .btn-group-vertical {
    padding-top: $spacer * .25;
    width: 100%;

    .btn {
      border-radius: 0;
      color: $light;
      text-align: left;

      &:hover {
        color: $dark;
        background-color: $light;
      }
    }
  }
}

header {
  border-bottom: 1px solid $dark;
  width: 100%;
}
