li.task-list-entry {
  .task-meta {
    opacity: 0.3;

    .badge {
      font-size: $font-size-sm;
    }
  }
  &:hover .task-meta {
    opacity: 1;
  }
  a.action-icon {
    color: $text-muted;
    font-size: $font-size-lg * 1.5;

    text-decoration: none;

    &.active,
    &:hover {
      color: $highlight;
    }
  }
  .task-completion {
    padding-left: $spacer;
    /*display: inline-block;
    position: relative;
    top: $spacer * .3;
    margin-right: $spacer * .5;*/

  }
  .task-label {
    display: inline-block;
    padding-top: $spacer * .6;
  }

  .project-link {
    color: $less-dark;
  }

  .tag {
    color: $less-dark;
  }

  //padding: $spacer * .5 0;
  border-bottom: 1px solid $border-color;

  a {
    font-weight: bold;

    &.overdue {
      color: $danger;
    }

    &.completed {
      color: $super-light;

      text-decoration: line-through;

      time {
        font-size: $font-size-sm;
      }
    }
  }

  .task-actions {
  }

  ul.task-action-bar {
    i {
      font-size: $font-size-lg;
    }
  }
}

.task-form {
  .projects {
    display: none;
    position: fixed;

    .col-12 {
      padding: 0;
    }
  }

  .task-icon {
    display: inline-block;
    position: relative;


    > a {
      font-size: $font-size-lg * 1.5;

      margin-right: $spacer;

      &:last-child {
        margin-right: 0;
      }

      color: $primary-muted;

      &.active {
        color: $highlight;
      }

      &:hover {
        color: $highlight;
      }
    }

  }
}

h1.task-completed {
  color: $text-muted;
  text-decoration: line-through;
}
