<div class="col-1 button-nav">
    <div class="btn-group-vertical">
        <a href="{{ path('task.all') }}" class="btn "><i class="mdi mdi-star"></i> All</a>
        <a href="{{ path('perspective.inbox') }}" class="btn "><i class="mdi mdi-inbox"></i> Inbox</a>
        <a href="{{ path('project.collection') }}" class="btn "><i class="mdi mdi-package-variant"></i> Project</a>
        <a href="{{ path('perspective.flagged') }}" class="btn "><i class="mdi mdi-flag-variant"></i> Flagged</a>
    </div>
</div>
