<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock %} &mdash; Get Whelmed!</title>

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row">
                    <div class="col">
                        <h1>Whelmed</h1>
                    </div>
                </div>
            </header>

            {% include 'molecule/task-quick-add-form.html.twig' %}

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
