<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock %} &mdash; Get Whelmed!</title>

        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid h-100">
            {% include 'organism/header.html.twig' %}
            <div class="row h-100">
                {% include 'organism/perspectives.html.twig' %}
                {% block metanav %}{% endblock %}
                <div class="col">
                    <main>
                        {% block body %}{% endblock %}
                    </main>
                </div>
            </div>

            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
