{% extends 'base.html.twig' %}

{% block title %}Project: {{ project.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% include 'molecule/project-detail.html.twig' with { project : project } only %}
        </div>
    </div>
{% endblock %}

{% block metanav %}
    {% include 'molecule/project-metanav.html.twig' with { projectList : projectList } only %}
{% endblock %}
