{% extends 'base.html.twig' %}

{% block title %}{{ task.title }} completed{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            Task {{ task.title }} was successfully completed.
        </div>
    </div>
{% endblock %}
